body {
  margin-left: 20%;
  font-size: 32px;
}

h3 {
  color: blue;
}

li.task-list-item {
  // font-size: 12px;
}

li > ul {
  font-size: 12px;
  color: purple;
}

.done {
  color: green;
}

.todo {
  color: red;
}

a {
  color: orange;
  // background: orange;
  // background-color: blue;
  font-size: 32px;
}
